*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
ul,li{
    text-decoration: none;
    color: #333;
}
#container{
    width: 1200px;
    height: 700px;
    background-color: pink;
}
header{
    width: 1200px;
    height: 100px;
    background-color: aqua;
    display: flex;
}
.box1-1{
    width: 400px;
    height: 100%;
    background-color: beige;
}
.box1-2{
    width: 500px;
    height: 100%;
    background-color: rgb(163, 163, 66);
}
.box1-3{
    width: 400px;
    height: 100%;
    background-color: rgb(49, 49, 35);
}
.main-container{
    width: 1200px;
    height: 500px;
    background-color: blueviolet;
}
.line2{
    width: 1200px;
    height: 200px;
    background-color: aliceblue;
}
.line3{
    width: 1200px;
    height: 300px;
    background-color: black;
    display: flex;
}
.box3-1{
    width: 400px;
    height: 300px;
    background-color: blue;
}
.box3-2{
    width: 400px;
    height: 300px;
    background-color: rgb(191, 191, 238);
}
.box3-3{
    width: 400px;
    height: 300px;
    background-color: rgb(16, 16, 24);
}
.line4{
    width: 1200px;
    height: 100px;
    background-color: aqua;
    display: flex;
}
.box4-1{
    width: 500px;
    height: 100px;
    background-color: bisque;
}
.box4-2{
    width: 700px;
    height: 100px;
    background-color: rgb(247, 178, 95);
}